<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="notkayitekrani1.Properties.Settings.dbnotkayitConnectionString"
            connectionString="Data Source=DESKTOP-PHRFHT3;Initial Catalog=dbnotkayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>